<head>

	<title>{{ .Title }}</title>
	<link rel="stylesheet" href="/css/main.css" />

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#ff4400">
	<meta name="theme-color" content="#fff">

	<!-- Open Graph -->
	<meta property="og:type" content="website"/>
	<meta property="og:title" content="Manglar Puntarenas"/>
	<meta property="og:description" content="El manglar de Puntarenas lleva años estando ahí, como una fachada verde, inmóvil, indefenso, no sabemos mucho que pasa allí, para la mayoría de porteños es cercano en distancia, pero lejano en importancia."/>
	<meta property="og:url" content="https://www.manglarpuntarenas.org"/>
	<meta property="og:image" content="https://www.manglarpuntarenas.org/img/ogimage.jpg"/>
	
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108350300-2"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-108350300-2');
	</script>
</head>
